@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/utilities/display";
@import 'scss/variables';
@import 'scss/typography';
@import "~bootstrap/scss/mixins/breakpoints";
@import "~bootstrap/scss/mixins/grid";

.container{
  @include make-container();
  @include make-container-max-widths();
}

.bg--light-gray{
  background-color: $light-grayish-cyan;
}
.list{
  display: flex;
  flex-direction: column;
  article{
    margin-bottom: 16px;
  }
}
footer{
  font-size: 12px;
  text-align: center;
  padding: 1rem;
  background-color: $darker-greyish-cyan;
  color: white;
  a{
    color: $desaturated-dark-cyan;
    font-weight: 700;
  }
}